*{
    color: #563727;
    /* rgb(86,55,39) */
    color: #372C2E;
    /* rgb(55,44,46) */
    color: #FFFFFF;
    /* rgb(255,255,255) */
    color: #DE9E48;
    /* rgb(222,158,72) */
    color: #7a431d;
    /* rgb(122,67,29) */
}